<div class="form-horizontal">
		<div class="form-group has-feedback {{if rental.isValid 'has-success'}}">
	        <label class="col-sm-2 control-label">Name*</label>
	        <div class="col-sm-10">
	        <select class="form-control" onchange={{action (mut vehicle) value="target.value"}}>
			  {{#each vehicles as |vehicleChoice|}}
			    <option value={{vehicleChoice}} selected={{eq vehicle vehicleChoice}}>{{vehicleChoice}}</option>
			  {{/each}}
			</select>
	          {{#if rental.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
	        </div>
	    </div>
    <div class="form-group has-feedback {{if rental.isValid 'has-success'}}">
        <label class="col-sm-2 control-label">Name*</label>
        <div class="col-sm-10">
          {{bootstrap-datepicker value=model.start_at class="form-control"}}
          {{#if rental.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Daily Rate</label>
        <div class="col-sm-10">
          {{bootstrap-datepicker value=model.end_at class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Daily Rate</label>
        <div class="col-sm-10">
          {{bootstrap-datepicker value=model.end_at class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Daily Rate</label>
        <div class="col-sm-10">          
          {{input type="text" value=rental.client_email class="form-control" placeholder="The address of the Library"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Daily Rate</label>
        <div class="col-sm-10">
          {{input type="text" value=rental.price class="form-control" placeholder="The address of the Library"}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{#if isNew}}
			    <button type="submit" class="btn btn-default"   {{action 'save'}}> Save</button>
            {{else}}
                <button type="submit" class="btn btn-default"   {{action 'edit'}}> Update</button>
            {{/if}}
        </div>
    </div>
</div>