<div class="form-horizontal">
    <div class="form-group has-feedback {{if model.isValid 'has-success'}}">
        <label class="col-sm-2 control-label">Name*</label>
        <div class="col-sm-10">
          {{input type="text" value=model.name class="form-control" placeholder="model Name"}}
          {{#if model.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Daily Rate</label>
        <div class="col-sm-10">
          {{input type="text" value=model.daily_rate class="form-control" placeholder="The address of the Library"}}
        </div>
    </div>   
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default"  disabled={{unless model.isValid true}} {{action 'save' model}}> Save</button>			
        </div>
    </div>
</div>