<div class="input-group">
    Name: {{input value=model.name}}
</div>
<div class="input-group">
    Day price {{input value=model.daily_rate}}
</div>
{{#if mdoel.id}}
	<button {{action 'save'}}> Save</button>
{{else}}
	<button {{action 'edit'}}> Save</button>
{{/if}}	